@import './base.css';
.purple-color-text{
  color: var(--purple-color);
}
.lila-color-text{
  color: var(--lila-color);
}
.purple-color-bg{
  background: var(--purple-color);
}
.lila-color-bg{
 background-color: var(--lila-color);
}


.nav-link{
  width: 100%;
  border-radius: 5px;
  pad: 5px;
  margin: 10px;

}
.navbar-nav{
  width: 100%;
}


@media (hover: hover) {
  .nav-link:hover {
    background-color: hsla(233, 99%, 49%, 0.424);
    color: white;
    border: 1px solid var(--vt-c-RedUniempresarial);
  }
}






